log
yarn-debug.log
yarn-error.log

#Runtimedata
pids
.pid
.seed
.pid.lock

#Directoryforinstrumentedlibsgeneratedbyjscoverage/JSCover
lib-cov

#Coveragedirectoryusedbytoolslikeistanbul
coverage

#nyctestcoverage
.nyc_output

#Gruntintermediatestorage(http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

#Bowerdependencydirectory(https://bower.io/)
bower_components

#node-wafconfiguration
.lock-wscript

#Compiledbinaryaddons(http://nodejs.org/api/addons.html)
build/Release

#Dependencydirectories
node_modules/
jspm_packages/

#Typescriptv1declarationfiles
typings/

#Optionalnpmcachedirectory
.npm

#Optionaleslintcache
.eslintcache

#OptionalREPLhistory
.node_repl_history

#Outputof'npmpack'
.tgz

#YarnIntegrityfile
.yarn-integrity

#dotenvenvironmentvariablesfile
.env

